<div class="container-flx">
  <div class="form">
    <form [formGroup]="userRegForm">
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td><input type="text" formControlName="name" /></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="text" formControlName="email" /></td>
          </tr>
          <tr>
            <td>Age</td>
            <td><input type="text" formControlName="age" /></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" formControlName="password" /></td>
          </tr>
          <ng-container formGroupName="location">
            <ng-container formGroupName="address">
              <tr>
                <td>Address-P</td>
                <td><textarea formControlName="permanent"> </textarea></td>
              </tr>
              <tr>
                <td>Address-T</td>
                <td><textarea formControlName="temporary"> </textarea></td>
              </tr>
            </ng-container>
            <tr>
              <td>country</td>
              <td><input type="text" formControlName="country" /></td>
            </tr>
            <tr>
              <td>State</td>
              <td><input type="text" formControlName="state" /></td>
            </tr>
          </ng-container>

          <ng-container formGroupName="parents">
            <tr>
              <td>Mother</td>
              <td><input type="text" formControlName="mother" /></td>
            </tr>
            <tr>
              <td>Father</td>
              <td><input type="text" formControlName="father" /></td>
            </tr>
          </ng-container>
          <tr>
            <td>Add Skills</td>
            <td><button (click)="addSkills()">+</button></td>
          </tr>
          <ng-container formArrayName="skills">
            <tr
              [formGroupName]="i"
              *ngFor="
                let x of userRegForm.get('skills').controls;
                let i = index
              "
            >
              <td>{{ i + 1 }}</td>
              <td><input type="text" formControlName="name" /></td>
              <td><input type="text" formControlName="exp" /></td>
              <td><button (click)="removeSkills(i)">-</button></td>
            </tr>
          </ng-container>
          <tr>
            <td></td>
            <td><button (click)="collectData()">Submit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div>{{ userRegForm.value | json }}</div>
</div>
